{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block classAccueil %}"nav-link active"{% endblock %}
{% block body %}

{# {{ dump()}} #}
<div class="example-wrapper"  >
    {#<h1>Hello {{ app.request.query.get("name") | default("user") }} ! this is {{ controller_name }} ✅</h1>#}
    <span style="display:inline-flex;">
      <img src="{{ asset('images/userIcon.png') }}" style="display:inline-flex;" alt="User" height="140px" width="130px"/>
      <h1 class="font-weight-bold" style="margin:20px; color:#2f3640; margin-top:40px">Bonjour, Pierre</h1>
      <div class="card" style="width: 22rem;margin-right:40px;margin-bottom:40px;display:inline-block;box-shadow: 2px 3px 10px gray;background-color:white">

      <div class="card-body">
        <h5 class="font-weight-bold" style="margin-bottom:20px;color:#353b48;">Rese</h5>
        <p class="text-monospace">Enseignant :</p>
        <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">Détails</a>
      </div>

    </div>
      </span>


  

</div>
{% endblock %}
